* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

p {
  margin: 0;
}

html {
  background: #e1f0f6;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
}

button,
button:hover,
button:active,
button:focus {
  outline: 0;
  text-decoration: none;
}

button {
  padding: 0;
  border: none;
  background: none;
  box-shadow: none;
  cursor: pointer;
}

.weather {
  margin: auto;
  margin-top: 40px;
  margin-bottom: 20px;
  width: 1000px;
  text-align: center;
  padding-bottom: 30px;
}

.weather__title {
  text-align: center;
}

.weather-slider {
  position: relative;
}

.weather-slider__wrap {
  display: block;
  margin: auto;
  position: relative;
  width: 840px;
  overflow-x: hidden;
}

.weather-slider__inner {
  text-align: center;
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
}

.weather-slider__item {
  display: inline-block;
  margin: 10px 5px;
}

.weather-slider__arrow {
  background: url("../img/arrows.png") no-repeat;
  width: 34px;
  height: 45px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  overflow: hidden;
}

.weather-slider__arrow.is-active {
  opacity: 0.6;
}

.weather-slider__arrow:hover {
  opacity: 1;
}

.weather-slider__arrow--prev {
  left: 15px;
}

.weather-slider__arrow--next {
  background-position: top right;
  right: 15px;
}

.weather-slider.first .weather-slider__arrow--prev,
.weather-slider.last .weather-slider__arrow--next {
  display: none;
}

.weather-card {
  text-align: center;
  background: #fff;
  padding: 20px;
  width: 200px;
  border-radius: 10px;
  flex-shrink: 0;
}

.weather-card__img {
  margin-bottom: -15px;
  width: 65px;
}

.weather-card__description {
  color: #777;
}

.weather-card__temp {
  margin: 5px 0;
}

.weather-card__separate {
  height: 1px;
  border: none;
  background-color: #ddd;
}

.clouds {
  position: absolute;
  z-index: -100;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.clouds_top {
  top: 6vh;
  -webkit-animation-name: clouds_to_rigth;
  animation-name: clouds_to_rigth;
  -webkit-animation-duration: 80s;
  animation-duration: 80s;
}

.clouds_middle {
  top: 48vh;
  -webkit-animation-name: clouds_to_left;
  animation-name: clouds_to_left;
  -webkit-animation-duration: 90s;
  animation-duration: 90s;
}

.clouds_bottom {
  top: 80vh;
  -webkit-animation-name: clouds_to_rigth;
  animation-name: clouds_to_rigth;
  -webkit-animation-duration: 110s;
  animation-duration: 110s;
}

@-webkit-keyframes clouds_to_left {
  from {
    left: -17%;
  }
  to {
    left: 103%;
  }
}

@keyframes clouds_to_left {
  from {
    left: -17%;
  }
  to {
    left: 103%;
  }
}

@-webkit-keyframes clouds_to_rigth {
  from {
    left: 105%;
  }
  to {
    left: -17%;
  }
}

@keyframes clouds_to_rigth {
  from {
    left: 105%;
  }
  to {
    left: -17%;
  }
}

@media screen and (max-width: 1100px) {
  .weather {
    width: 790px;
  }
}

@media screen and (max-width: 800px) {
  .weather {
    width: 580px;
  }
  .clouds {
    zoom: 0.8;
  }
}

@media screen and (max-width: 600px) {
  .weather {
    width: 370px;
  }
  .weather__title {
    font-size: 1.5em;
  }
  .clouds {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  .weather {
    width: 320px;
  }
}
